body {
    font-family: Arial, Helvetica, sans-serif;
}


a.pseudo:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a.pseudo:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a.pseudo:hover {
    color: rgb(235, 57, 90);
    text-decoration: none;
}

a.pseudo:active {
    color:rgb(128, 51, 51);
    text-decoration: none;


}

.navigation {
    text-align:center;
    padding: 20px;
    font-size: 20px;
    background-color:rgb(254, 187, 199);
    overflow: hidden;
    border-style: solid;
    border-color: rgb(254, 170, 185);
    word-spacing: 30px;
}

#navigation {
    text-align:center;
    padding: 20px;
    font-size: 20px;
    background-color:rgb(254, 187, 199);
    overflow: hidden;
    border-style: solid;
    border-color: rgb(254, 170, 185);
}

#space {
    word-spacing: 0px;
}

.box {
    text-align: center;
    text-size-adjust: none;
    font-weight: bold;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(252, 126, 149);
    margin: 10px;
}


 {
    text-align:center;
}


.background {
    background-color: rgb(253, 237, 236);
}
#shadow {

    width: 1000px;
    margin: -40px;
  margin-top: -16px;
  margin-bottom: 10px;
  padding: 0px;
  max-width: 100%;
  height: auto;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  filter: opacity(60%);
}

.hometitle {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: white;
}

.container {
    position: relative;
  }

.square {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  
}

.me {
    display: block;
    margin-left: 50px;
    margin-right: auto;
    width: 40%;
    float: left;
}

#aboutp {
    float:right;
}

.abme {
    color: black;
    position: absolute;
    left: 50%; 
    font-size: 18.5px;
    background-color:rgb(253, 237, 236);
    border-top: 60px solid  rgb(254, 170, 185);
    border-bottom: 60px solid  rgb(254, 170, 185);
    border-right: 60px solid  rgb(254, 170, 185);
    border-left: 60px solid  rgb(254, 170, 185);
    margin-left: 0px;
    text-indent: 40px;
    padding: 60px;
}

.wpsite {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#cute {
    color: rgb(229, 145, 160);
    font-size: 30px;
    position:
}

#down {
margin-bottom:100px;
}

.heres {
    color: rgb(0, 0, 0);
    text-decoration: none;
   /* margin-left: 40px; */
    
}


.here {
    color: rgb(229, 145, 160);;
    text-decoration: none;
    margin-left: 0px;
    
}

a.here:link {
    color: rgb(229, 145, 160);
    text-decoration: underline;
}

a.here:visited{
    color: rgb(229, 145, 160);
    text-decoration: none;
}

a.here:hover{
    color: rgb(235, 57, 90);
    text-decoration: none;
}

a.here:active{
    color:rgb(128, 51, 51);
    text-decoration: none;
}


h3 {
   /* background-color: white; */
    text-align: center;
}

#para {
  
    position: absolute;
    top: 103%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: black;
    padding: 60px;
    text-indent: 40px;
}

#intro {
   
    position: absolute;
    top: 127%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 25px;
    color: black;
padding: 60px;
text-indent: 40px;
}


#w3 {
  
    position: absolute;
    top: 150%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: black;
    padding: 60px;
    text-indent: 40px;
}

.whitebox {
    color: black;
    position: relative;
   /* left: 50%; */
    font-size: 18.5px;
    background-color:rgb(253, 237, 236);
    border-top: 60px solid  rgb(254, 170, 185);
    border-bottom: 60px solid  rgb(254, 170, 185);
    border-right: 60px solid  rgb(254, 170, 185);
    border-left: 60px solid  rgb(254, 170, 185);
    margin-left: 0px;
}


.everyday {
    margin-top: 600px;
    text-align: center;
}

.reflection {
    text-indent: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    font-size: 20px;
}


.gallery {

    top: 50%;
    left: 50%;
  
}


.footer {
    background-color: rgb(254, 170, 185);
    padding: 50px;
    color:rgb(253, 237, 236);
    font-size: 20px;
}


































/*
.box {
    text-align: center;
    height: 40px;
    width: 100%;
    padding: 30px;
    margin-top: 50px;
    Background-color: rgb(255, 229, 235);
    animation-name: header;
    animation-duration: 4s;
}
/*
.box {
    background-color:rgb(255, 255, 255);
    width: 400px;
    border: 20px solid rgb(0, 0, 0);
    padding: 5px;
    margin: 5px;
 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
}


p {
    background-color: rgba(255, 202, 235, 0.701);
    color: rgb(0, 0, 0);
    margin: 0px 50px 0px 50px;
    padding: 10px;
    border-style: ridge;
    border-color: rgb(92, 92, 197);
}


p2 {
    padding: 20px;
}
*/
h1 {
    text-align: center;
}
/*
ul {
    color:rgb(92, 92, 197);
}

form {
    width: 10%;
    padding: 10px;
}

label {
    color:rgba(255, 73, 185, 0.701);
}
*/
button {
    background-color:rgba(255, 73, 185, 0.701);
    border-color: rgb(92, 92, 197);
    color:rgb(255, 255, 255);
    padding: 5px 8px;
}

img {
    padding: 5px;
    width: 170px;
}
/*
#corners {
    border: 2px solid rgb(92, 92, 197); 
    border-radius: 200px;
}
*/
/*
#shadow {

    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-reflect: right;
}
*/
 #gallery {
      margin: 2px;
      border: 1px solid;
      float: right;
      width: 160px;
    }
    
 #gallery:hover {
      border: 1px solid rgb(255, 0, 166);
    }
    
 #gallery img {
      width: 150px;
      height: 90%;
    }
    
 #desc {
      padding: 20px;
      text-align: left;
    }



#container h3 {
    background-color:rgb(127, 255, 133);
}

/*
#grad {
    background-image: linear-gradient(to right, rgba(255, 202, 235, 0.701), rgb(92, 92, 197));
}
*/


a:link {
    color: #ff00d9;
  }
  
  a:visited {
    color: #d000ff;
  }
  
  a:hover {
    color: #00f2ff;
  }
  
  a:active {
    color: #0000FF;
  }



.element {
    width: 700px;
    height: 10px;
    padding: 0px 0px 20px 0px;
    margin: 10px;
    border: 50px;
}

/*
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }

div {
    width: 100px;
    height: 90px;
    position: relative;
    background-color: rgb(0, 255, 213);
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 4;
    animation-direction: alternate-reverse;
  }

  #div1 {animation-timing-function: linear;}
*/
#sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
}

div.absolute {
    position: absolute;
    top: 100px;
    right: 0;
    width: 200px;
    height: 100px;

/*  

div {
    background: yellowgreen;
}

span {
    background: yellowgreen;
}

div.position {
    position: absolute;
    left: 500px;
    right: 100px;
    top: 800px;
}

nav.sticky {
    position: sticky;
    top: 0;
    padding: 3px;
    background-color: greenyellow;
    border: 1px solid grey;
}


.pseudo {
    text-decoration: none;
}

.button1 {
    background-color: green;
    color: white;
    padding: 3px 5px;
    text-decoration: none;
}








/*

<style>
    body {
        background: rgb(196, 255, 250);
    }

    .example {
        color: red;
    }

    .example2 {
        background: pink;
    }

    #container2 {
        font-size: 22px;
    }

    p {
        color: red;
        font-size: 22px;
        text-align: right;
    }

    section a {
        color: green;
    }

    section > a {
    color: green;
    }
</style>
/*